body {
    margin: 0;
    padding: 0;
    background-image: url('Background_upscayl_4x_realesrgan-x4plus.png');
    /* Specify background properties */
    background-size: cover; /* Cover the entire screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    
    /* Add additional styling if needed */
    margin: 0; /* Remove default margin */
    /* height: 90vh; /* Set the height to the full viewport height */
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grid button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    width: 9rem;
    height: 9rem;
    /* appearance: none; */
}
#heading1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 6rem;
    text-align: center;

    width: 100%;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#heading2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
}
.result{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.resetBtn button{  
    width: 15rem;
    height: 4rem;
    margin-bottom: 12rem;
    background-color: #0a5caf;
    border-radius: 2rem;
    font-size: 2rem;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border:0.2rem solid transparent;
    box-shadow: 0.45rem 0.45rem 0.45rem #242424;
    transition: all 0.3s;
    
}
.resetBtn button:hover{
    border:0.2rem solid whitesmoke;
    scale: 1.1;

}  
.result h1{
    margin-top: 8rem;
    margin-bottom: 6rem;
    color: #0c5db0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 6rem;
}
.hide{
    display: none;
}
.grid{
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 1rem;

    display: grid;
    gap: 1rem;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;
}
.box{
    width: 9rem;
}

@media only screen and (max-width: 650px) {
    #heading1{
        font-size: 4rem !important;
    }
    .box{
        width: 5rem
    }
    .grid button{
        width: 5rem;
        height: 5rem;
    }
    .grid{
        display: flex;
        justify-content: center;
    
        margin-top: 4rem;

        display: grid;
        gap: 1.5rem;
        grid-template-columns: 5rem 5rem 5rem;
        grid-template-rows: 5rem 5rem 5rem;
    }
    .result h1{
        text-align: center;
    }
    body {
        background-image: url('Background_upscayl_4x_realesrgan-x4plus\ -\ Copy.png');
    }
  }